<app-app-nav></app-app-nav>

<!-- <app-rooms> </app-rooms> -->
<!---->
<!-- <app-pipes> </app-pipes> -->

<!-- <div #name></div> -->
<!-- <div [ngSwitch]="loginType"> -->
<!--   <div *ngSwitchCase="'User'">Welcome User</div> -->
<!---->
<!-- <div> -->
<!--   <app-directives> </app-directives> -->
<!-- </div> -->
<!-- <div> -->
<!--   <app-container> -->
<!--     <app-rooms></app-rooms> -->
<!--     <app-employee></app-employee> -->
<!--     <h2>ngContent</h2> -->
<!--     <p>this is from ng content</p> -->
<!--   </app-container> -->
<!-- </div> -->
<!---->
<!--   <div *ngSwitchDefault>youre not login</div> -->
<!-- </div> -->

<!-- <div> -->
<!--   <ng-template #user></ng-template> -->
<!-- </div> -->

<!-- <a [routerLink]="'rooms'">Rooms</a> -->
<!-- <a [routerLink]="'employee'">Employee</a> -->
<!-- <router-outlet></router-outlet> -->
