<h2>Life Cycle Components</h2>

<p>Life cycle components are the stages of a component. Created to destroyed</p>
<p>
  First of all remember this whenever the component is renderized in the view it
  calls the constructor, after that, the onInit hook is called
</p>

<p><b>constructor:</b> is only for call services or initialized variables.</p>
<p><b>NgOnIinit:</b> is only for logic.</p>

<p><b>We have this diferent hooks</b></p>

<ul>
  <li>ngOnChanges</li>
  <li>ngOnInit</li>
  <li>ngDoCheck</li>
  <li>ngAfterContentInit</li>
  <li>ngAfterContentChecked</li>
  <li>ngAfterViewInit</li>
  <li>ngAfterViewChecked</li>
  <li>ngOnDestroy</li>
</ul>
